<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Create', root_path %></li>
		<li><%= link_to 'Edit', root_path %></li>
		<li><%= link_to "Delete", root_path %></li>
	</ul>
	<%= link_to image_tag("/assets/site/logo_icon_yellow.png"), root_path  %>
</div>