<div class="innerContainer"> 
  <% @posts.each do |post| %>
    <h3><%= link_to post.title, post_path(post)  %></h3>	
    <p><%= post.body %></p>

    <%= form_for [post, @comment], :html => { :class => "comment_form"} do |f| %> 
        <%= f.label :comment %>  
        <%= f.text_area :body %>  
      <%= f.submit "Add comment" %>  
  <% end %>

    <% if post.comments.length > 0 %>
      <% post.comments.each do |comment| %>
        <%= comment.body %>
        <br>
      <% end %>
    <% end %>

  <% end %>

</div>
