<div class="innerContainer"> 
  <% @posts.each do |post| %>
    <h3><%= post.title  %></h3>	
    <p><%= post.body %></p>

    <%= form_for [post, @comment] do |f| %> 
        <%= f.label :comment %>  
        <%= f.text_area :body %>  
      <%= f.submit "Add comment" %>  
    <% end %>

    <% if post.comments.length > 0 %>
      <% post.comments.each do |comment| %>
        <%= comment.body %>
      <% end %>
    <% end %>

  <% end %>

</div>
